<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedule">
    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Schedule"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FocusActivity"></activity>
        <activity
            android:name=".sleep.SleepActivity"
            android:label="助眠模式"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToDoMainActivity"
            android:label="ToDoList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewItemActivity"
            android:label="新建"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>